<header>
  <div class="navbar-fixed">

    <nav class="teal z-depth-2">
      <div class="nav-wrapper">

        <ul class="right">
          <li>{{#link-to 'app.main' class="waves-effect waves-light"}}<i class="material-icons">home</i>{{/link-to}}</li>
          <li>{{#link-to 'app.tasks' class="waves-effect waves-light"}}<i class="material-icons">list</i>{{/link-to}}</li>
          <li>{{#link-to 'app.tasks.create' class="waves-effect waves-light"}}<i class="material-icons">mode_edit</i>{{/link-to}}</li>
        </ul>

      </div>
    </nav>

  </div>
</header>

<div id="container" class="container">
  {{outlet}}
</div>

<footer>
</footer>
