<div class="row">
  <div class="col s12 center-align errorClr">
    <h2>Oops!</h2>
    <h3>There's something wrong</h3>
  </div>
</div>
<div class="row">
  <div class="col s12 center-align">
    <img id="errorImg" class="responsive-img" src="http://octo-labs.github.io/intro-to-ember/img/ember-fishy.png">
  </div>
</div>
<div class="row">
  <div class="col s12 center-align errorClr">
    <h3>Please go back and try again</h3>
  </div>
</div>
