<!-- App Root -->

<script type="text/x-handlebars" id="app">
  {{#link-to 'app.articles'}} Lista de Articulos {{/link-to}}
  {{#link-to 'app.articles.create'}} Crear artículo {{/link-to}}
  {{outlet}}
</script>

<!-- Main -->
<script type="text/x-handlebars" id="app/main">
  <h1>Welcome</h1>
</script>

<!-- Article List -->

<script type="text/x-handlebars" id="app/articles/index">
  <h2>Article List</h2>
  {{#each model as |article|}}
    <p>
      {{formatDate article}}
      {{#link-to 'app.articles.article' article}}{{article.title}}{{/link-to}}
      <button {{action 'destroy' article}}>x</button>
    </p>
  {{/each}}
</script>


<!-- Article Detail -->

<script type="text/x-handlebars" id="app/articles/article">
  <h1>Article Detail</h1>
  {{input type="text" value=model.title }}
  {{textarea value=model.body }}
  <br>
  <button {{action 'update' model}}>Save</button>
</script>


<!-- Article Create -->
<script type="text/x-handlebars" id="app/articles/create">
  <h1>Create article</h1>
  {{input type="text" value=title }}
  <br>
  {{textarea type="text" value=body }}
  <br>
  <button {{action 'create'}}>Save</button>
</script>



<!-- Main -->
<script type="text/x-handlebars" id="error">
  <h1>Oops! There was an Error. Please go back and try again</h1>
</script>
