
/* GENERAL USE */

.titleClr {
  color:#00796b;
}

.inputPadding {
  padding-bottom:30px !important;
}

/* app.main */
#container {
  background:#FFF;
  margin-top:20px;
  height:120%;
}

#mainRow {
  padding-top:70px;
}

#mainRow img {
  height:190px;
}

#mainRow :nth-child(2){
  margin-top:30px;
}

#mainRow h2 {
  color: white;
}



/* app.tasks.index */


.taskInfo {
  font-size  : 20px !important;
  padding-top: 30px !important;
}

#deleteBtn {
  height     : 60px;
  padding-top: 30px;
}


/* Modal */

#createModal {
  font-size : 20px;
  text-align: justify;
}

/* Error */

.errorClr {
  color: red;
}

#errorImg {
  height:200px;
}

/* ANIMATIONS */

.fadeInLeftBig {
  -webkit-animation: fadeInLeftBig 0.4s !important; /* Safari 4+ */
  -moz-animation:    fadeInLeftBig 0.4s !important; /* Fx 5+ */
  -o-animation:      fadeInLeftBig 0.4s !important; /* Opera 12+ */
  animation:         fadeInLeftBig 0.4s !important; /* IE 10+, Fx 29+ */
}

.fadeInRightBig {
  -webkit-animation: fadeInRightBig 0.4s !important; /* Safari 4+ */
  -moz-animation:    fadeInRightBig 0.4s !important; /* Fx 5+ */
  -o-animation:      fadeInRightBig 0.4s !important; /* Opera 12+ */
  animation:         fadeInRightBig 0.4s !important; /* IE 10+, Fx 29+ */
}

.flip {
  -webkit-animation: flip 0.4s !important; /* Safari 4+ */
  -moz-animation:    flip 0.4s !important; /* Fx 5+ */
  -o-animation:      flip 0.4s !important; /* Opera 12+ */
  animation:         flip 0.4s !important; /* IE 10+, Fx 29+ */
}

.fadeInDownBig {
  -webkit-animation: fadeInDownBig 0.4s !important; /* Safari 4+ */
  -moz-animation:    fadeInDownBig 0.4s !important; /* Fx 5+ */
  -o-animation:      fadeInDownBig 0.4s !important; /* Opera 12+ */
  animation:         fadeInDownBig 0.4s !important; /* IE 10+, Fx 29+ */
}

.fadeInUpBig {
  -webkit-animation: fadeInUpBig 0.4s !important; /* Safari 4+ */
  -moz-animation:    fadeInUpBig 0.4s !important; /* Fx 5+ */
  -o-animation:      fadeInUpBig 0.4s !important; /* Opera 12+ */
  animation:         fadeInUpBig 0.4s !important; /* IE 10+, Fx 29+ */
}
